/* 覆盖 xterm.js 的默认滚动条样式，只在需要时显示滚动条 */
.xterm-viewport::-webkit-scrollbar {
    width: 6px;
}

.xterm-viewport::-webkit-scrollbar-track {
    background: transparent;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
}

.xterm-viewport::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* Nerd Font 字体，可以显示图标 */
@font-face {
    font-family: 'FiraCode Nerd Font';
    src: url('/fonts/FiraCodeNerdFont-Regular.ttf');
}